.form {
    
    &__formContainer {
        
    }

    &__formArea {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
      }
  
      &__checkAccount {
        padding: 2rem;
        border: 1px solid rgb(207, 199, 199);
      }
 
  
}