.linkItem {
    display: flex;
    text-decoration: none;

    &__link {
        display: flex;
        margin-bottom: 1.5rem;
        text-decoration: none;
        color: black;    
    }

    &__nav {
       
    }

    &__icon {
        width: 22px;
        height: 22px;
        cursor: pointer;
        
    }

    &__text {
        margin-left: 1rem;
        font-weight: bold;
    }
}