.logSign {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 245, 245);
 
     &__Instagram {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;

        &--checkAccount {
           display: flex;
        }
     }

     &__headerParagraph {
       width: 260px;
       font-size: 1.25rem;
       margin-bottom: 2rem;
       text-align: center;
       color: rgb(44, 42, 42);
       font-weight: bold;
     }
 
     &__log {
      background-color: #fff;
      padding: 2.5rem 1.5rem;
      border: 1px solid rgb(207, 199, 199);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
     }

     &__header {
       font-size: 3.4rem;
       font-family: 'Cookie', cursive;
       display: flex;
       justify-content: center;
       margin: 0rem 2rem 1.5rem 2rem;
       color: rgb(44, 42, 42);
     }
 
     &__form {
       display: flex;
       flex-direction: column;
       margin-bottom: 3rem;
     }
 
     &__input {
       display: flex;
       justify-content: flex-start;
       height: 35px;
       width: 260px;
       margin-bottom: 0.5rem;
       border: 1px solid rgb(180, 173, 173);
       font-family: inherit;
       border-radius: 2px;
       padding-left: 1rem;
     }
 
     &__checkAccount {
       padding: 2rem;
       border: 1px solid rgb(207, 199, 199);
     }
 
     &__paragraph {
       margin-right: 0.5rem;
     }

     &__bellowParagraph {
       width: 280px;
       margin: 2rem 0 0 0;
       font-size: 0.8rem;
       text-align: center;
     }
 
     &__link {
       text-decoration: none;
       font-weight: bold;
       color: rgb(13, 84, 177);
       cursor: pointer;
       font-size: 1.1rem;
     }

     &__question {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgb(207, 199, 199);
      background-color: #fff;
      padding: 2.5rem 1rem;
      width: 320px;
     }
 }