.logSign {
 
    &--login {
      padding:16rem 2rem;
    }

    &--sign {
      padding: 9.1rem 2rem;
    }

     &__Instagram {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;

        &--checkAccount {
           display: flex;
        }
     }

     &__headerParagraph {
       width: 260px;
       font-size: 1.25rem;
       margin-bottom: 2rem;
       text-align: center;
       color: rgb(44, 42, 42);
       font-weight: bold;
     }
 
     &__log {
      background-color: #fff;
      padding: 2.5rem 1.5rem;
      border: 1px solid rgb(207, 199, 199);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
     }

    &__bellowParagraph {
      width: 280px;
      font-size: 0.9rem;
      text-align: center;
    }

    &__divide {
      margin-bottom: 2rem;
      color: rgb(44, 42, 42);
      font-weight: bold;
    }


 }