.loginSignup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 245, 245);

    &--verificiate {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}