.navigation {
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top:1px solid #cfc7c7;
    border-bottom: 1px solid #cfc7c7;

    &__menu {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 550px;
    }
}